*{
	margin: 0;
	padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background: #C0B3A0;
    font-family: sans-serif;
}

#box{
    height: 3000px;
	width: 840px;
	background: #E14658;
}

#banner{
	width: 5000px;
	height: 100px;
	background-color: #C0B3A0;
}

h1{
    color: #fff;
}

ul
{
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%,-50%);
    display: flex;
    background: #E14658;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333;
}
ul li
{
    list-style: none;
    width: 150px;
}
ul li a
{
    display: block;
    padding: 20px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
